{% extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
    body{
        background-image:url(https://cdn.vox-cdn.com/thumbor/-yf-XDADIGC4y-qLQxAMv5ZTyo0=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/19228499/acastro_190919_1777_instagram_0002.0.png);
        background-color:grey;
        background-size:cover;
    }
    #strand{
        position:absolute;
        top:30%;
        left:40%;
    }
    #strand, #strand input[type=text,email,password]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    #strand, #strand input[type=text,email,password]{
        border: 1px solid #ccc;
    }
    h1{
        text-align:center;
        font-size:120px;
        color:silver;
        font-family: 'Gelasio', serif;
    }
</style>
<body>
<h1>SIGN-UP</h1>
<div id="strand">
    <form method="POST" action="/accounts/register/" >
        {% csrf_token%}
        {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit">
    </form>
    <div>
        {% for message in messages%}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}



