{% extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
    body{
        background-color:grey;
    }
    #strand{
        position:absolute;
        top:30%;
        left:40%;
    }
    #strand, #strand input[type=text,email,password]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    #strand, #strand input[type=text,email,password]{
        border: 1px solid #ccc;
    }
    h1{
        text-align:center;
        font-size:120px;
    }
</style>
<body>
<h1>SIGN-UP</h1>
<div id="strand">
    <form method="POST" action="register/" >
        {% csrf_token%}
        <input type="text"  name="username" placeholder="Your username"><br><br>
        <input type="text" name="first_name" placeholder="Your first name"><br><br>
        <input type="text" name="last_name" placeholder="Your last name"><br><br>
        <input type="email" name="email" placeholder="Your email"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="password" name="password1" placeholder="Confirm password"><br><br>
        <input class="btn btn-primary" type="submit">
    </form>
    <div>
        {% for message in messages%}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>

{% endblock %}



