{% extends 'base.html'%}
{% block content%}
<style>
body{
	background-color:gray;
	background-image:url(https://wallpaperplay.com/walls/full/9/0/3/215260.jpg);
	background-size:cover;
}
h1{
	color:black;
	float:right;
	font-size:70px;
	position:absolute;
	font-family: 'Gelasio', serif;
	top:0%;
	left:71%
}

</style>

<h1>Instaronnie</h1>

<body>



<div class="container">
<div class="row">

  {% for photo in photos %}
  <div class="col-md-4">
  <div class="too" style="width:340px;height:400px;margin-top:160px; background-color:white; color:black; " >
    <header style="background-color:black;color:white;">
    <h4 style="text-align: center;"  class="card-title pictitle"> {{photo.name}} </h4><br>
    </header>
    <a href="/photo/{{photo.id}}">
    <img class=" card-img-top" width="340px" height="280px" src=" {{photo.picture.url}} " alt="Image"></a>
    <div class="card-body" style="background-color:silver;color:black;font-size:20px;">
      <p style="text-align: center;" class="card-text">{{photo.caption}}</p>
      <p class="card-text">Posted by: {{photo.user}}</p>
      
            <a href="{% url 'comment' photo.id%}" class="btn btn-outline "> <button>Comment</button></a>
            
    </div>
  </div>
  </div>

{% endfor %}
</div>
</div>
</body>

{% endblock %}








